*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  min-height: 100vh;
}

canvas {
  border: 1px dashed indianred;
  margin: 20px;
}
